.headshot {
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px #0FA3B1;
}

.bio {
    color: #F7A072;
    font-size: 20px;
}

.greeting {
    margin-top: 30px;
    color: #0FA3B1;
    text-transform: uppercase;
}